﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Prueba.aspx.cs" Inherits="Incidences.Web.Admin.Prueba" %>

<%@ Register Src="~/UserControls/PruebaUC.ascx" TagPrefix="uc1" TagName="PruebaUC" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <uc1:PruebaUC runat="server" id="PruebaUC" />
</asp:Content>
